small = 'screen and (max-width:960px)'
large = 'screen and (max-width:1200px)'
landscape = 'screen and (min-width:600px) and (orientation:landscape)'
portrait = 'screen and (min-width:600px) and (orientation:portrait)'